# Shared ignore settings
*/.bundle/
*/.yardoc
*/.idea/
*/_yardoc/
*/coverage/
*/doc/
*/pkg/
*/spec/reports/
*.bundle
*.so
*.o
*.a
*/mkmf.log
*.exe
*.exe.mdb
*.env
*.env.*

# Gem-specific ignore settings
gem/Gemfile.lock
gem/tmp/

# Rails app ignore settings
*/log/
!*/log/.keep
web/tmp/
!/web/tmp/.keep
