---
http_interactions:
- request:
    method: get
    uri: https://imazen-test.chargebee.com/api/v2/subscriptions/IG5ryl2QIcaZIV7QP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdF9iT0ozbm1RRmprZHV2UWNHMWNveEVZeHVxZFphWUpweDo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "subscription": {
                "id": "IG5ryl2QIcaZIV7QP",
                "customer_id": "2smoc97nQIcYnlI7vs",
                "plan_id": "imageflow-site-license",
                "plan_quantity": 1,
                "plan_unit_price": 24900,
                "plan_amount": 24900,
                "billing_period": 1,
                "billing_period_unit": "month",
                "plan_free_quantity": 0,
                "status": "cancelled",
                "trial_start": 1493866732,
                "trial_end": 1495076332,
                "created_at": 1493866732,
                "started_at": 1493866732,
                "cancelled_at": 1495076333,
                "cancel_reason": "no_card",
                "updated_at": 1563917186,
                "has_scheduled_changes": false,
                "resource_version": 1563917186455,
                "deleted": false,
                "object": "subscription",
                "currency_code": "USD",
                "due_invoices_count": 0,
                "mrr": 0,
                "cf_company_website": "http://www.a.com",
                "cf_license_id": "1056624108",
                "cf_license_hash": "b1f8768e12e01310e386e5c89a69e94fdb4343cb1e4adad5d4a23881fa253710",
                "meta_data": {"test": 1234}
            },
            "customer": {
                "id": "2smoc97nQIcYnlI7vs",
                "first_name": "test",
                "last_name": "user",
                "email": "test@test.com",
                "phone": "888-555-0124",
                "company": "test company",
                "auto_collection": "on",
                "net_term_days": 0,
                "allow_direct_debit": false,
                "created_at": 1493866311,
                "taxability": "taxable",
                "updated_at": 1495497351,
                "locale": "en-US",
                "pii_cleared": "active",
                "resource_version": 1495497351529,
                "deleted": false,
                "object": "customer",
                "card_status": "no_card",
                "promotional_credits": 0,
                "refundable_credits": 0,
                "excess_payments": 0,
                "unbilled_charges": 0,
                "preferred_currency_code": "USD"
            }
        }
  recorded_at: Wed, 24 Jul 2019 18:03:19 GMT
- request:
    method: get
    uri: https://imazen-test.chargebee.com/api/v2/customers/2smoc97nQIcYnlI7vs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdF9iT0ozbm1RRmprZHV2UWNHMWNveEVZeHVxZFphWUpweDo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {"customer": {
            "id": "2smoc97nQIcYnlI7vs",
            "first_name": "test",
            "last_name": "user",
            "email": "test@test.com",
            "phone": "888-555-0124",
            "company": "test company",
            "auto_collection": "on",
            "net_term_days": 0,
            "allow_direct_debit": false,
            "created_at": 1493866311,
            "taxability": "taxable",
            "updated_at": 1495497351,
            "locale": "en-US",
            "pii_cleared": "active",
            "resource_version": 1495497351529,
            "deleted": false,
            "object": "customer",
            "card_status": "no_card",
            "promotional_credits": 0,
            "refundable_credits": 0,
            "excess_payments": 0,
            "unbilled_charges": 0,
            "preferred_currency_code": "USD"
        }}
  recorded_at: Wed, 24 Jul 2019 18:03:19 GMT
- request:
    method: get
    uri: https://imazen-test.chargebee.com/api/v2/plans/imageflow-site-license
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdF9iT0ozbm1RRmprZHV2UWNHMWNveEVZeHVxZFphWUpweDo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {"plan": {
            "id": "imageflow-site-license",
            "name": "Imageflow Site License",
            "invoice_name": "Imageflow Site License",
            "description": "Site-wide license for ImageResizer Elite Edition. Restricted to businesses with fewer than 500 employees.",
            "price": 24900,
            "period": 1,
            "period_unit": "month",
            "trial_period": 14,
            "trial_period_unit": "day",
            "pricing_model": "flat_fee",
            "free_quantity": 0,
            "status": "active",
            "enabled_in_hosted_pages": true,
            "enabled_in_portal": true,
            "addon_applicability": "all",
            "is_shippable": false,
            "updated_at": 1493880262,
            "giftable": false,
            "resource_version": 1493880262407,
            "object": "plan",
            "charge_model": "flat_fee",
            "taxable": true,
            "currency_code": "USD",
            "meta_data": {
                "kind": "oem",
                "is_public": true,
                "restrictions": "Single-product OEM redistribution. Only for organizations with fewer than 500 employees.",
                "features": [
                    "R_Elite",
                    "R_Creative",
                    "R_Performance"
                ],
                "network_grace_minutes": 720,
                "subscription_grace_minutes": 28800
            }
        }}
  recorded_at: Wed, 24 Jul 2019 18:03:19 GMT
[...]
- request:
    method: put
    uri: https://s3-us-west-2.amazonaws.com/licenses.imazen.net/v1/licenses/latest/8436955c7e60de19dc4ca04d2bd9c4a4a4b34daa69dfa89dd4d1de0a92b73ce3.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Amz-Acl:
      - public-read
      X-Amz-Date:
      - 20190724T180320Z
      X-Amz-Content-Sha256:
      - STREAMING-AWS4-HMAC-SHA256-PAYLOAD
      X-Amz-Decoded-Content-Length:
      - '843'
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAICS7RGGEDL62367A/20190724/us-west-2/s3/aws4_request,
        SignedHeaders=content-type;host;x-amz-acl;x-amz-content-sha256;x-amz-date;x-amz-decoded-content-length,
        Signature=94741ac0f3685de8d72874514bf7a5340376663a23ddec118d49826397002ea0
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 36AD1499211CC9B2
      X-Amz-Version-Id:
      - n6sJdf8NLags7qAAXjGtMqYdL6Diircj
      Etag:
      - '"092421b8d06b1ed5aabee654ae894d08"'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 24 Jul 2019 18:03:21 GMT
- request:
    method: put
    uri: https://s3.us-west-2.amazonaws.com/licenses.imazen.net/v1/licenses/latest/8436955c7e60de19dc4ca04d2bd9c4a4a4b34daa69dfa89dd4d1de0a92b73ce3.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Amz-Acl:
      - public-read
      X-Amz-Date:
      - 20220829T232738Z
      X-Amz-Content-Sha256:
      - STREAMING-AWS4-HMAC-SHA256-PAYLOAD
      X-Amz-Decoded-Content-Length:
      - '1095'
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAICS7RGGEDL62367A/20220829/us-west-2/s3/aws4_request,
        SignedHeaders=content-type;host;x-amz-acl;x-amz-content-sha256;x-amz-date;x-amz-decoded-content-length,
        Signature=d4f7e557af21608d46f5519abbb738f7622e62a5b84257f79cec443438ebbee1
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - GVYBAFGEQCRWAN6D
      X-Amz-Version-Id:
      - 3CCPtBvMf.l1PykWa1XLDnf9Pl6yuR07
      Etag:
      - '"42166eb99d7f227ada5eac22b4a8e2da"'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 29 Aug 2022 23:27:38 GMT
recorded_with: VCR 6.1.0
